.skill-list{
    display: flex;
    flex-wrap: wrap;
}

.skill-list-item{
    padding: 1rem;
    width: calc(100%/3);
    @media screen and (max-width: 768px) {
        width: 100%;
    }
    h3 {
        font-size: 1.2rem;
        margin-bottom: 0.8rem;
        padding-bottom: 0.8rem;
        border-bottom: 1px #8e9aaf solid;
        font-weight: bold;
    }
    li {
        margin-bottom: 0.5rem;
    }
}